# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dados locais gerados nos exercícios
*.db
*.sqlite
dados/brutos/
output/

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/